
# prod
# localhost:
#   app:
#     browserTitleName: "EVA SHEE (대상 사이트)"
#     license:
#       activation_mode: "offline"
#       product_code: "eva-prod"
#       api_key: "036062de-1aac-4e57-bb2b-667ae4a4025b"
#       shared_key: "00X-B2WTI_keKPJdnR2OhhV06LtxWZhLOoJEHVSvFsM"
#     pipeline:
#       streamer:
#         dispatcherFaceAnonymizerEnabled: true


# dev
# 10.186.0.75:
#   app:
#     browserTitleName: "EVA SHEE (대상 사이트)"
#     license:
#       activation_mode: "online"
#       product_code: "eva-dev"
#       api_key: "79669563-88f2-46cd-88c8-67a80e8fb2d9"
#       shared_key: "Mq8mg6iiAi_bGodrus01PTIMxRaQpcC9wM-FCx4gHYE"
#     pipeline:
#       streamer:
#         dispatcherFaceAnonymizerEnabled: true

